@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

/* CSS Custom Properties */
:root {
  --white: #ffffff;
  --tan-1: #f6fbfb;
  --tan-2: #dde3e7;
  --tan-3: #d1dee2;
  --tan-4: #aed1d3;
  --blue: #007ff7;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0;
  font-family: "kiwi maru", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #111; */
  padding: 2vmin;
  height: 100vh;
  color: black
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.profile-pic {
  border-radius: 50%;
  max-width: 25%;
}
img {
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
}
ul {
  margin: 0;
}
li {
  display: inline;
}
.img-container {
  display: flex;
}
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  color: brown;
}

.update-toggle {
  padding: 10px;
  margin: 10px;
  border: 1px dotted blue;
}