
  @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');


/* CSS Custom Properties */
:root {
  --white: #ffffff;
  --tan-1: #f6fbfb;
  --tan-2: #dde3e7;
  --tan-3: #d1dee2;
  --tan-4: #aed1d3;
  --blue: #007ff7;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'kiwi maru', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cae9ff;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

ul {
  color: #073b4c;
  list-style-type: none;
}
.link {
  text-decoration: none;
}
input {
  border: 2px solid #073b4c;
  border-radius: 10px;
}
h1.title {
  text-align: center;
}
.btn-container {
  top: -40px;
  height: 30px;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* .btn-container, a{
  color: red;
} */
.feed {
  margin: 10px;
  max-width: 65%;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 13px #b3b3b3, -5px -5px 13px #ffffff;
}
