@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

/* CSS Custom Properties */
:root {
  --white: #ffffff;
  --tan-1: #f6fbfb;
  --tan-2: #dde3e7;
  --tan-3: #d1dee2;
  --tan-4: #aed1d3;
  --blue: #007ff7;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "kiwi maru", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111;
  padding: 2vmin;
  height: 100vh;
  color: #ffffff
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.profile-pic {
  border-radius: 50%;
  max-width: 25%;
}
img {
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  float: left;
}
.img-container {
  display: flex;
}
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:85%;
  background-color: black;
  border: 2px solid white;
  margin: 20px;
  padding: 20px;
  color: white;
  box-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.update-toggle {
  padding: 10px;
  margin: 10px;
  border: 1px dotted blue;
}
.comment {
  border: 1px solid black;
  margin: 5px;
  width: 350px
}
/* .topnav {
  
} */
.link {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  color: #111;
}
